@charset "utf-8";
/** -------------------------------------
		CreateDBWeb.css
		[上][右][下][左]
 ---------------------------------------- */
body{
	background-color: #f5f5f5;
}

#container {
	width: auto;
	margin-bottom: 2px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #e6e6fa;
}
p.title {
	width: auto;
	font-size: 125%;
	border-left: 14px solid #395;
	border-bottom: 1px solid #395;
	padding: 5px 12px;
	background: #eee8aa;
	margin-bottom: 0px;
}

.menu_area{
	width: auto;
	border-left: 14px solid #395;
	border-bottom: 1px solid #395;
	padding: 5px 12px;
	text-align: right;
	background-color: #eee8aa;
	margin-bottom: 2px;
}
pre {
	font-family: Osaka-mono, "MS Gothic", monospace;
	font-size: 10px;
	padding: 1em;
	margin-left: 20px;
	color: #000;
	background-color: #ACD6FF;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
}
 
code {
	//font-family: monospace;
	font-family: Osaka-mono, "MS Gothic", monospace;
	font-size: 10px;
	font-weight: normal;
	line-height: 125%;
	text-align: left;
	margin-bottom: 10px;
}


p, pre {
  line-height: 1.4;
}
p.cp{
  font-size: 10px;
  color: #bbc;
  text-align: center;
}

.tab{
	font-size: 12px;
}
.green { color: #3f5; }
.red   { color: #f53; }
.gray  { color: #bbc; }
.bold  { font-weight: bold; }

.footer_area {
	width: auto;
	padding-top: 10px;
	padding: 5px 12px;
	margin-top: 0px;
	clear: both;
}

/* ------------- font指定 ------------------------------------------ */
.fBlack10100{ color: #000000;font-size: 10pt; line-height: 100%; text-decoration: none;}
.fBlackB10100{ color: #000000;font-size: 10pt;font-weight: bold; line-height: 100%; text-decoration: none;}
.fBlack10110{ color: #000000;font-size: 10pt; line-height: 110%; text-decoration: none;}
.fBlack10120{ color: #000000;font-size: 10pt; line-height: 120%; text-decoration: none;}
.fBlack10150{ color: #000000;font-size: 10pt; line-height: 150%; text-decoration: none;}
.fGlay09100{ color: #c0c0c0;font-size: 9pt; line-height: 100%; text-decoration: none;}
.fGlay10150{ color: #dcdcdc;font-size: 10pt; line-height: 150%; text-decoration: none;}
.fRed10100{ color: #ff0000; font-size: 10pt; line-height: 100%}
.fRed10120{ color: #ff0000; font-size: 10pt; line-height: 120%}
.fRed10150{  color: #ff0000;font-size: 10pt; line-height: 150%}
.fRed16150{  color: #ff0000;font-size: 16pt; line-height: 150%}

/* ------------- table_list ------------------------------------------ */
table#cdbColtable {
  width: auto;
  height: auto;
  border-spacing: 0;
  font-size:10px;
  margin-left: auto;
  margin-right: auto;

}
table#cdbColtable th {
  color: #fff;
  padding: 4px 4px;
  background: #4682b4;
  background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
  background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
  font-weight: bold;
  border-left:1px solid #4682b4;
  border-top:1px solid #4682b4;
  border-bottom:1px solid #4682b4;
  line-height: 95%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
table#cdbColtable th:first-child {
  border-radius: 5px 0 0 0;	
}
table#cdbColtable th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #4682b4;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}
table#cdbColtable tr td {
  line-height: 95%;
  padding: 4px 5px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
}
table#cdbColtable tr td:last-child {
  border-right: 1px solid #84b2e0;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table#cdbColtable tr {
  background: #fff;
}
table#cdbColtable tr:nth-child(2n+1) {
  background: #f1f6fc;
}
table#cdbColtable tr:last-child td {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table#cdbColtable tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
table#cdbColtable tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
table#cdbColtable tr:hover {
  #background: #bbd4ee;
  #cursor:pointer;
}

/* ------------- Submit ﾎﾞﾀﾝ table ------------------------------------------ */
table#table_submit_button {
  width: 100%;
  border-spacing: 0;
  background: #bbd4ee;
}
table#table_submit_button tr td {
  padding: 10px;
  border-bottom: 1px solid #84b2e0;
  text-align: left;
}
table#table_submit_button td:first-child {
  border-left: 10px solid #84b2e0;
}



input.buttonGreen {
    font-size: 12px;
    font-weight: bold;
    /* 縦方向に20px、
     * 横方向に5pxの余白を指定 */
    padding: 5px 20px;
    /* 文字色を白色に指定 */
    color: #fff;
    /* ボーダーをなくす */
    border-style: none;
    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* グラデーションの指定 */
	background: #b4e391; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzYxYzQxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGUzOTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-8 */
}

input.buttonGreen:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}


/* ------------- buttonOrange ------------------------------------------ */
input.buttonOrange {
    font-size: 12px;
    font-weight: bold;
    /* 縦方向に20px、
     * 横方向に5pxの余白を指定 */
    padding: 5px 20px;
    /* 文字色を白色に指定 */
    color: #fff;
    /* ボーダーをなくす */
    border-style: none;
    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* グラデーションの指定 */
	background: #ffc578; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzU3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYjlkMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffc578 0%, #fb9d23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc578 0%,#fb9d23 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-8 */
}

input.buttonOrange:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}

/* ------------- buttonRed ------------------------------------------ */
input.buttonRed {
    font-size: 12px;
    font-weight: bold;
    /* 縦方向に20px、
     * 横方向に5pxの余白を指定 */
    padding: 5px 20px;
    margin-left: 20px;
    
    /* 文字色を白色に指定 */
    color: #fff;
    /* ボーダーをなくす */
    border-style: none;
    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* グラデーションの指定 */
	background: #cc0000; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #cc0000 0%, #cc0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cc0000 0%,#cc0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-8 */
}

input.buttonRed:hover {
    /* 透明度を20%に指定 */
    opacity: 0.5;
}
/* ------------- buttonNormal ------------------------------------------ */
input.buttonNormal {
    font-size: 12px;
    font-weight: bold;
    /* 縦方向に20px、
     * 横方向に5pxの余白を指定 */
    padding: 5px 20px;
    /* 文字色を白色に指定 */
    color: #fff;
    /* ボーダーをなくす */
    border-style: none;
    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* グラデーションの指定 */
	background: #cedce7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZGNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OTZhNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-8 */
}

input.buttonNormal:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}


/* --------------------------------------------- */
/* テーブルヘッダ固定 fixed_midashi.js */
/* --------------------------------------------- */
div.scroll_div {
	overflow: auto;
}
/* --------------------------------------------- */
/* datepicker */
/* --------------------------------------------- */
.datepicker{
	cursor:pointer;
}

