@charset "utf-8";
/** -------------------------------------
		CreateDBWeb.css
		[上][右][下][左]
 ---------------------------------------- */
body{
	background-color: #e6e6fa;
}

p.title {
	width: auto;
	font-size: 125%;
	color: #191970;
	border-left: 14px solid #6495ed;
	border-bottom: 1px solid #6495ed;
	padding: 5px 12px;
	background: #b0c4de;
	margin-bottom: 0px;
}
.container {
	width: auto;
	font-size: 95%;
	vertical-align: top;
	background-color: #e6e6fa;
}

.left_area{
	width: auto;
	font-size: 90%;
	vertical-align: top;
	border-left: 14px solid #6495ed;
	border-bottom: 1px solid #6495ed;
	//padding: 5px 12px;
	background-color: #b0c4de;
	margin-bottom: 2px;
}
.mid_area{
	width: auto;
	font-size: 90%;
	vertical-align: top;
	border-left: 14px solid #6495ed;
	border-bottom: 1px solid #6495ed;
	//padding: 5px 12px;
	background-color: #b0c4de;
	margin-bottom: 2px;
}

ul{
	list-style-type: none;
	margin-left: -37px;
}

.submenu {
	margin-bottom: 1px;
}

.submenu a {
	background-image: url(./img/submenu_bg.gif);	/*背景画像*/
	background-repeat: no-repeat;
	background-position: top;	/*メニューの背景画像の上半分を表示させる設定*/
	display: block;
	padding-right: 5px;
	padding-left: 10px;
	color: #191970;		/*文字色*/
	text-decoration: none;
	line-height: 30px;
	height: 30px;
	width: 125px;
}

.submenu a:hover {
	background-image: url(./img/submenu_bg.gif);	/*背景画像*/
	background-repeat: no-repeat;
	background-position: bottom;	/*メニューの背景画像の下半分を表示させる設定*/
	color: #006600;		/*カーソルオーバー時の文字色*/
}



.right_area{
	width: 350px;
	font-size:85%;
	text-align: left;
	vertical-align: top;
	//border-left: 14px solid #6495ed;
	border-bottom: 1px solid #6495ed;
	padding: 5px 12px;
	background-color: #b0c4de;
	margin-bottom: 2px;
}

/* フォームレイアウト
-----------------------------------------*/
.input_form{
	padding:5px;
	width: auto;
	font-size:95%;
	border:solid 5px #EEE;
}
.input_form p.point{
	text-align:right;
}
.input_form table{
	width: auto;
	border-collapse:separate;
	border-spacing:2px;
}
.input_form table tr th{
	padding: 2px;
	white-space: nowrap;
	font-weight:normal;
	vertical-align: top;
	border-bottom:solid 1px #C1D0E3;
	background-color:#EBF0F6;
}
.input_form table tr td{
	padding: 2px;
  	vertical-align:middle;
	border-bottom:solid 1px #B6D1F5;
}

/* 必須
-----------------------------------------*/
.ex_essential{
	color:#CC0000;
	font-weight:normal;
	font-size:70%;
}

/* 入力パーツ
-----------------------------------------*/	
label {
	float:left;
	width:80px;
}
td label {
	cursor: pointer;
	display:inline-block;
	vertical-align:baseline;
	text-align: right;
	font-size: 90%;
}
input,
textarea,
select{
	border:solid 1px #778899;
}


.green { color: #3f5; }
.red   { color: #f53; }
.gray  { color: #bbc; }
.bold  { font-weight: bold; }

.footer_area {
	width: auto;
	padding-top: 10px;
	padding: 5px 12px;
	margin-top: 0px;
	clear: both;
}

/* ------------- font指定 ------------------------------------------ */
.fBlack10100{ color: #000000;font-size: 10pt; line-height: 100%; text-decoration: none;}
.fBlackB10100{ color: #000000;font-size: 10pt;font-weight: bold; line-height: 100%; text-decoration: none;}
.fBlack10110{ color: #000000;font-size: 10pt; line-height: 110%; text-decoration: none;}
.fBlack10120{ color: #000000;font-size: 10pt; line-height: 120%; text-decoration: none;}
.fBlack10150{ color: #000000;font-size: 10pt; line-height: 150%; text-decoration: none;}
.fGlay09100{ color: #c0c0c0;font-size: 9pt; line-height: 100%; text-decoration: none;}
.fGlay10150{ color: #dcdcdc;font-size: 10pt; line-height: 150%; text-decoration: none;}
.fRed10100{ color: #ff0000; font-size: 10pt; line-height: 100%}
.fRed10120{ color: #ff0000; font-size: 10pt; line-height: 120%}
.fRed10150{  color: #ff0000;font-size: 10pt; line-height: 150%}
.fRed16150{  color: #ff0000;font-size: 16pt; line-height: 150%}

/* ------------- table_list ------------------------------------------ */
table#side_list {
  width: auto;
  text-align: left;
  vertical-align: top;
  border-spacing: 0;
  font-size:85%;
  margin-left: auto;
  margin-right: auto;

}
table#side_list th {
  color: #fff;
  padding: 4px 4px;
  background: #4682b4;
  background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
  background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
  font-weight: bold;
  border-left:1px solid #4682b4;
  border-top:1px solid #4682b4;
  border-bottom:1px solid #4682b4;
  line-height: 95%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
table#side_list th:first-child {
  border-radius: 5px 0 0 0;	
}
table#side_list th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #4682b4;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}
table#side_list tr td {
  line-height: 95%;
  padding: 4px 5px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
}
table#side_list tr td:last-child {
  border-right: 1px solid #84b2e0;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table#side_list tr {
  background: #fff;
}
table#side_list tr:nth-child(2n+1) {
  background: #f1f6fc;
}
table#side_list tr:last-child td {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table#side_list tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
table#side_list tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
table#side_list tr:hover {
  background: #bbd4ee;
  cursor:pointer;
}

/* ------------- Submit ﾎﾞﾀﾝ table ------------------------------------------ */
table#table_submit_button {
  width: 100%;
  border-spacing: 0;
  background: #bbd4ee;
}
table#table_submit_button tr td {
  padding: 10px;
  border-bottom: 1px solid #84b2e0;
  text-align: left;
}
table#table_submit_button td:first-child {
  border-left: 10px solid #84b2e0;
}



input.buttonGreen {
    font-size: 12px;
    font-weight: bold;
    /* 縦方向に20px、
     * 横方向に5pxの余白を指定 */
    padding: 5px 20px;
    margin-left: 20px;
    /* 文字色を白色に指定 */
    color: #fff;
    /* ボーダーをなくす */
    border-style: none;
    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* グラデーションの指定 */
	background: #b4e391; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzYxYzQxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGUzOTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-8 */
}

input.buttonGreen:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}


/* ------------- buttonOrange ------------------------------------------ */
input.buttonOrange {
    font-size: 12px;
    font-weight: bold;
    /* 縦方向に20px、
     * 横方向に5pxの余白を指定 */
    padding: 5px 20px;
    margin-left: 20px;
    /* 文字色を白色に指定 */
    color: #fff;
    /* ボーダーをなくす */
    border-style: none;
    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* グラデーションの指定 */
	background: #ffc578; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzU3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYjlkMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffc578 0%, #fb9d23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffc578 0%,#fb9d23 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-8 */
}

input.buttonOrange:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}

/* ------------- buttonRed ------------------------------------------ */
input.buttonRed {
    font-size: 12px;
    font-weight: bold;
    /* 縦方向に20px、
     * 横方向に5pxの余白を指定 */
    padding: 5px 20px;
    margin-left: 20px;
    
    /* 文字色を白色に指定 */
    color: #fff;
    /* ボーダーをなくす */
    border-style: none;
    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* グラデーションの指定 */
	background: #cc0000; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #cc0000 0%, #cc0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cc0000 0%,#cc0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-8 */
}

input.buttonRed:hover {
    /* 透明度を20%に指定 */
    opacity: 0.5;
}
/* ------------- buttonNormal ------------------------------------------ */
input.buttonNormal {
    font-size: 12px;
    font-weight: bold;
    /* 縦方向に20px、
     * 横方向に5pxの余白を指定 */
    padding: 5px 20px;
    margin-left: 20px;
    /* 文字色を白色に指定 */
    color: #fff;
    /* ボーダーをなくす */
    border-style: none;
    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;
	/* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* グラデーションの指定 */
	background: #cedce7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZGNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OTZhNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-8 */
}

input.buttonNormal:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}


