@charset "utf-8";

html,
body {
  height: 100%;
  background-color: #ffffff;
}

/** -------------------------------------
		CreateDBWeb.css
		[上][右][下][左]
 ---------------------------------------- */
/*gridのgutter調整*/
.row-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.row-0 > div {
  padding-right: 0px;
  padding-left: 0px;
}
.row-10 {
  margin-left: -5px;
  margin-right: -5px;
}
.row-10 > div {
  padding-right: 5px;
  padding-left: 5px;
}
.row-20 {
  margin-left: -10px;
  margin-right: -10px;
}
.row-20 > div {
  padding-right: 10px;
  padding-left: 10px;
}
.row-30 {
  margin-left: -15px;
  margin-right: -15px;
}
.row-30 > div {
  padding-right: 15px;
  padding-left: 15px;
}
.row-40 {
  margin-left: -20px;
  margin-right: -20px;
}
.row-40 > div {
  padding-right: 20px;
  padding-left: 20px;
}

.container {
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.submenu{
	height: 35px;
	margin: 0;
}

.navbar{
  background-color: #e9dfe5;/* 桜鼠 さくらねず */
}

.submenu{
  width: 100%;
  background-color: #e9dfe5;/* 桜鼠 さくらねず */
}
/* ----------------------------------------- */
/*    フッターを下部へ固定                   */
/* ----------------------------------------- */

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-image:none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #e9dfe5;/* 桜鼠 さくらねず */
}


/* フッターを下部へ押しやるための、コンテンツのラッパー */
.wrap {
  min-height: 100%;
  height: auto;
  /* フッターの高さ分だけ、ネガティブインデントを指定 */
  margin: 0 auto -30px;
  /* フッターの高さ分だけ、パディングを指定 */
  padding: 0 0 30px;
}

/* ここでフッターの高さを指定 */
.footer {
	height: 25px;
	background-color: #f5f5f5;
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

/* --------------------------------------------- */
/*	form関連 									 */
/* --------------------------------------------- */
label {
    font-weight: lighter;
}
.form-group{
	padding: 2px;
	margin: 0px;
}
/* --------------------------------------------- */
/*  CSS3を使って美しく装飾されたテーブルの作り方 */
/* Copyright © 2015 Webpark All rights reserved. */
/* --------------------------------------------- */

table {
  width: auto;
  border-spacing: 0;
  font-size:12px;
}
table th {
  color: #fff;
  padding: 5px 8px;
  background: #258;
  background:-moz-linear-gradient(rgba(34,85,136,0.7), rgba(34,85,136,0.9) 50%);
  background:-webkit-gradient(linear, 100% 0%, 100% 50%, from(rgba(34,85,136,0.7)), to(rgba(34,85,136,0.9)));
  font-weight: bold;
  border-left:1px solid #258;
  border-top:1px solid #258;
  border-bottom:1px solid #258;
  line-height: 100%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
table th:first-child {
  border-radius: 5px 0 0 0;	
}
table th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #258;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}
table tr td {
  padding: 5px 8px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: left;
}
table tr td:last-child {
  border-right: 1px solid #84b2e0;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

table tr {
  background: #fff;
}
table tr:nth-child(2n+1) {
  background: #f1f6fc;
}
table tr:last-child td {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
table tr:hover {
  background: #bbd4ee;
  cursor:pointer;
}

/* --------------------------------------------- */
/* テーブルヘッダ固定 fixed_midashi.js */
/* --------------------------------------------- */
div.scroll_div {
	overflow: auto;
}

